@import '../variables';

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

%ab-center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

%translateCenter {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

%title-20 {
  font-family: 'FogtwoNo5', serif;
  font-size: 2rem;
  color: get-color(secondary, normal);

  @include desktop {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include phone {
    font-size: 2.5rem;
  }
}

%title-24 {
  font-family: 'FogtwoNo5', serif;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 3rem;
  }
}

%title-30 {
  font-family: 'FogtwoNo5', serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 1.05;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 6rem;
  }
}

%title-40 {
  font-family: 'FogtwoNo5', serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 1.05;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 5rem;
  }
}

%title-50 {
  font-family: 'FogtwoNo5', serif;
  font-size: 5rem;
  line-height: 1;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 8rem;
  }
}

%title-60 {
  font-family: 'FogtwoNo5', serif;
  font-size: 6rem;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 7rem;
  }
}

%title-80 {
  font-family: 'FogtwoNo5', serif;
  font-size: 8rem;
  color: get-color(secondary, normal);
  @include phone {
    font-size: 14rem;
  }
}

%title-100 {
  font-family: 'FogtwoNo5', serif;
  font-size: 10rem;
  line-height: 1.1;

  @include phone {
    font-size: 15rem;
  }
}

%title-110 {
  font-family: 'FogtwoNo5', serif;
  font-size: 11rem;
  line-height: 1.1;

  // @include phone {
  //   font-size: 110px;
  // }
}

%title-120 {
  font-family: 'FogtwoNo5', serif;
  font-size: 12rem;
  line-height: 0.82;
  color: get-color(secondary, normal);

  // @include phone {
  //   font-size: 120px;
  // }
}

%title-200 {
  font-family: 'FogtwoNo5', serif;
  font-size: 20rem;
  color: get-color(secondary, normal);
  // @include phone {
  //   font-size: 200px;
  // }
}

%paragraph-16 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;

  @include phone {
    font-size: 16px;
    line-height: 1.2;
  }
}

%paragraph-18 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;

  @include phone {
    font-size: 18px;
    line-height: 1.4;
  }
}

%paragraph-20 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  @include phone {
    font-size: 20px;
  }
}

%paragraph-20-light {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;

  @include phone {
    font-size: 20px;
  }
}

%paragraph-menu {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: get-color(secondary, normal);
  letter-spacing: 0.2rem;

  @include phone {
    font-size: 24px;
  }
}

%vertical-titles {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
}
